/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0;
    padding: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display: block;
    margin: 0 auto;
    padding: 0;
}


#grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 60pt;
    text-align: center;
}

#board {
    display: grid;
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
}

#board > .square {
    border: 1px solid gray;
    width: 50px;
    height: 50px;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.checker {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid gray;
}